.alert{
	width: 100%;
}
.close{
	    margin-top: 0px;
}
.open {
    z-index: 22 !important;
}
.header-landing{ 
	padding: 15px 0;
	margin-bottom: 20px; }
	
.registration-login-form{
	border: none;
}
.registration-login-form .title{
	/* background-color: #00b1ec; */
	background-color: #01405c;
	color: #fff;
}
.tag_input_div img#header_avatar {
    height: 30px;
    width: 30px;
}

.event_list img#header_avatar {
    height: 30px;
    width: 30px;
}
.active_class{
	fill: #148AC5 !important;
	color: #515365 !important;
}	
.active_module{
	color: #148AC5 !important;
}
.themIcons{
    margin-bottom: 10px;
}

.trading{
        position: absolute;
    color: #fff;
    padding: 7px;
}
.trading_pop{
    position: fixed;
    color: #fff;
    padding: 7px;
}
	

.likeusers:hover {
    background-color: #fafbfd;
}

.btn-primary{
	background-color: #05405C;
}
.btn-primary:hover{
	background-color: #148AC5;
}
.btn-purple{
	/* background-color: #148AC5; */
	background-color: #01405c;
}
.btn-purple:hover{
	background-color: #148AC5;
}
.terms_condition{ color:#148AC5; }
a{ color:#148AC5; }
.registration-login-form .nav-link.active{ color:#148AC5; }
.registration-login-form .nav-link.active{ fill: #148AC5; }

.bg-twitch{ background-color:#6441A5; }
.bg-linkedin{ background-color:#0077B5; }

.a-icon:hover .left-menu-icon
{ color: #148AC5 !important;
fill: #148AC5 !important;}
.a-open-slider:hover .left-menu-icon_slide{
		color: #148AC5 !important;
		fill: #148AC5 !important;}
.left-menu a:hover {
    color: #515365;
}
.left-menu a:hover svg {
    fill: #148AC5;
}
/*
.btn_control_icon:hover{ background-color:#148AC5 !important; }  */
.post-control-button .btn-control:hover{ background-color:#148AC5 !important;}
.olympus-chat{ background-color:#148AC5}
.dropdown_account:hover span{ color:#148AC5 }
.blue_bg{ color:#148AC5; }
.notification_btn{ background-color:#148AC5 !important;}
a.notification_btn:hover{ background-color:#148AC5 !important;}

.play-video{ background-color:#148AC5CC;}
.play-video:hover{ background-color:#148AC5;}


/*  header section */
.header{
	background-color: #113a50;}
.search-bar.w-search{ 
	background-color:#0F4968;}
.search-bar .form-group.with-button button{
	color: #00B2ED;
	fill: #00B2ED;
	background-color: #123345;
	cursor:pointer;
}
.search-bar .form-group.with-button button:hover{
	color: #fff;
	fill: #fff;
	background-color: #123345;
}
.notification-list .notification-link{ color:#148AC5; }
.more-dropdown a{ color:#515365;}
/*.more-dropdown a:hover{ color:#148AC5;}*/

/* Login checkbox */

.checkbox input[type="checkbox"]:checked + .checkbox-material .check{
	background: #148AC5; }

/* End login checkbox */

.search-friend a{color:#9a9fbf; fill:#9a9fbf;}
.fixed-sidebar .search-friend a:hover svg {
    fill: #148AC5;
	color:#148AC5;
}


.w-action img{
	width:50%; }

/* side menu */


/* 16-FavPagesFeed style */

.play-gif{ background-color: rgb(20, 138, 197); }
.more-photos::after{ background-color: #148ac5; }
.w-create-fav-page{ background-color: #01aae2; }
.page-description .icon { background-color: #05405C; }
.page-description .icon { fill: #01aae2; }
.post-add-icon:hover, .post-add-icon:hover span{fill: #148ac5; color: #148ac5; }
.btn-bg-secondary{ background-color: #113a50; }
.all-users { background-color: #01aae2; }

/* ####### */
.bg-primary {
    background-color: #01AAE2 !important;
}
a.bg-primary:focus, a.bg-primary:hover{ background-color: #148ac5 !important; }

/* Account setting page */
.btn-secondary:hover{ background-color: #1489c3; color:#fff; }
.togglebutton label input[type=checkbox]:checked + .toggle {
    background-color: #01AAE2;
}
.togglebutton label .toggle, .togglebutton label input[type="checkbox"][disabled] + .toggle{
	background-color: #05405C; }

/* Account chat message */
.page-link:focus, .page-link:hover{
	background-color: #00B1EC;
    border-color: #00B1EC; }

/* Newsfeed */
.more_nav_item{ padding: 16px 29px;}

.news-feed-form .nav-link svg{ width: 14px;}

.news-feed-form .nav-link .olymp-status-icon{ width: 17px;}

.admin_search {
    float: left;
    width: 100%;
    height: 50px;
    background-color: #123345;
    position: relative;
}
.admin_search .form-group.with-button input {
    height: 100%;
    border: none;
    color: #9a9fbf;
}
.form-group.with-button input {
    padding-right: 50px;
    padding-left: 15px;
}
.admin_search .selectize-input {
    height: 50px;
}
.admin_search .form-control {
    border: none;
    padding: 0;
}
.admin_search .form-group.with-button button {
    color: #00B2ED;
    fill: #00B2ED;
    background-color: #123345;
    cursor: pointer;
}
.admin_search .form-group.with-button button {
    color: #00B2ED;
    fill: #00B2ED;
    background-color: #123345;
    width: 50px;
}
.admin_search .form-group.with-button button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    text-align: center;
    line-height: 100%;
   
    border: none;
}.admin_search .form-group.with-button button svg {
    height: 22px;
    width: 22px;
}
.search_input{
	width: 173px;
}
.more_search{
	text-align: right;
	float: right;
	width: 60%;
}
.more_search form{
	width: 100%;
}
.note-popover{
		display: none;
	}
.Liked{
background-color: #148AC5 !important; 
	}
.Liked_un{
fill: #148ac5 !important;
color: #148ac5 !important;
	}
.olymp-menu-icon-white{
	fill: white;
}

/* End Newsfeed */
.test path{fill:#;}

@media (max-width: 450px) {
	.news-feed-form .nav-tabs li:nth-child(4){
		display: none;
	} 
	.more_search{
	width: 100%;
}
	
}


@media (max-width: 1023px){
	.registration-login-form {
    padding-top: 0px; }
	
	.registration-login-form .nav-item2{
		clear: both;
		display: inline-block;
		float: left;
	}
	.registration-login-form .nav-item1{
		clear: both;
		display: inline-block;
		float:none;
	}
}

/*.status {display: none;}*/
/*.multimedia {display: none;}
.blog {display: none;}
.discussion {display: none;}
.live {display: none;}
.link {display: none;}
.event {display: none;}
.poll {display: none;}
.news {display: none;}
.deals {display: none;}*/

img.icon_width {
    width: 18px !important;
    height: 17px !important;
}

.error{color:#f92552}
.error-msg{padding-bottom:5px;color:#f92552;}
.success-msg{padding-bottom:5px;color:#4ADE7F}
.rplm-alert .content-wrap{background:#148AC5;}
.admin_search.w-search {
    background-color: #0F4968;
}
.admin_search.w-search {
    width: 100%;
    min-height: 50px;
    background-color: #0F4968;
}
.w-search {
    width: 340px;
}
.notification-list {
    margin-bottom: 0;
}

#Discussion_form .control-label{}
#Discussion_form .form-control{background-color: #fff;border:none;}
#Discussion_form .form-control input{border:none;}
#Discussion_form .summernotes{border:none;}
.note-editor.note-frame{border-radius:5px;border: 1px solid #fff !important;}

.radio label{color:#fff;}

.full-width-image img{width:467px;}
.half-width img{height:220px;}
.col-3-width img{height:130px;width:155px;}
.hidden-img{display:none;}
.control-label-form{color:#fff !important; font-size:16px;}



@media only screen and (max-width: 410px) {
    .hidden-xxs-down {
		display:none;
    }
	
	.hidden-xxs-up {
        display: block;
    }
}

@media only screen and (min-width: 410px) {
    .hidden-xxs-down {
		display:block;
    }
	
	.hidden-xxs-up {
        display: none;
    }
}


@media only screen and  (max-width: 1023px) and (min-width: 800px){
    .hidden-slg-down {
		display:none !important;
    }
	
	.hidden-slg-up {
        display: block !important;
    }
}
.publish_now{
    text-align: center;
    padding-top: 2%;
}
.post_now{
    display: inline-block;
    border-radius: 3px;
    padding: 7px 22px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.comment_box{
	padding-left: 25px;
}

.li_for_comment li {
  padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #e6ecf5;
    background-color: #fafbfd;
    position: relative;
}
.ComfirmBox_body{
	width: 100%;
	    text-align: center;    font-size: 20px;
}
.ComfirmBox_footer{
	display: block;text-align: center;
}
.ComfirmBox_close{
	position: absolute;
    color: #000;
    font-size: 25px;
    top: -3px;
    right: 5px;
}
.li_for_comment li::before { 
    content: none !important;
}
.edit_comment{
	    height: 60px;
    min-height: 60px;
}
.edit_comment_form{
	border-top: none !important;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
}
.edit_comment_form .form-group{
	width: 100%;
}
.comment-thumb{	
	padding-left: 38px;
	padding-top:20px;
}
.remove_thum{
	position: relative;
	top:-13px;left: -32px;
	background:#fff;
	border-radius:50%;
}
.comment-thumb_close {
    position: absolute;
    color: #000;
    font-size: 25px;
    top: -3px;
    left: 5px;
}
.comment_image{
	max-width: 100%;
}
.pending-class{
	padding-bottom: 8px;
}
.newPostMessage{
	width: 100%;
	text-align: center;
}
.play-video{
    padding-top: 3%;
}

.more-dropdown2{
   width: 380px;
    top: 35px;
    right: -180px;
    padding: 0 0 70px 0;
}
.more-dropdown2{
	    display: block;
    position: absolute;
        box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
    background-color: #fff;
    border-radius: 4px;
        transition: all .3s ease;
    text-align: left;
        z-index: 5;
}
.priview_status_images{
width: 80px;
height: 80px;
float: left;
overflow: hidden;
margin-right: 12px;
}
 .hidden{
 	display: none !important;
 }

 div.scrollmenu {
    float: left;
    width: 100%;
    overflow:auto;
    white-space: nowrap;
    margin-bottom: 7px;
}
.progress{
    float: left;
    width: 100%;
}
div.scrollmenu .status_images {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    width: 100px;
    height: 100px;
    margin-right: 6px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
}

div.scrollmenu a:hover {
    background-color: #777;
}
.remove_thum2{
	position: relative;
    top: -13px;
    left: -32px;
    background: black;
    border-radius: 50%;
}
.comment-thumb_close2 {
	    position: absolute;
    color: #000;
    font-size: 25px;
    top: 4px;
        right: -36px;
}
.tag_input_div{
    width: 100%;
    float: left;
    margin-bottom: 8px;
    position: relative;
}

.tag_input_div .search-bar.w-search{
    width: 93.5%;   
    height: auto;
    min-height: 0px;
    background-color: #fff;
}
.tag_input_div .search-bar .form-group{
    height: auto;
}
.tag_input_div .search-bar .selectize-control{
    height: auto;
}
.tag_input_div .search-bar .selectize-input{
    height: 41px;
	
}
.small_thumb_images{
    width: 28px;
}
.tag_input_div .search-bar .form-group  .selectize-input.has-items > *{
    /* padding: 9px 10px;*/
    border-radius: 3px;
    background-color: #e8eaf3;
    color: #101010;
    /* height: 42px; */
    /*margin: 3px 2px 3px 4px;*/
    text-transform: capitalize;
	
}
.pac-container {
    background-color: #FFF;
    z-index: 99999;
    position: fixed;
    display: inline-block;
    float: left;
}
.post_user_photo{
    float: left;
}
.post_details{
        padding-right: 15px;
 display: inherit;
}
.post_videos_iframe{
    width: 100%;
    height: 270px;
}
.loder_fro_status{
    top: 115px;
    position: absolute;
}
.postBoxIcons{
    fill: #9a9fbf;
}
.activesvg{
    fill: #148AC5 ;
}
.active{
    color: black;
}
.moreforpost{
    position: absolute;   
    top: 8px;
    right: 0;
}
.friend-requests-list{
    max-height: 300px;
    overflow: auto;
}
.friend-requests-list-icon{
    position: absolute;
}
.left_side_bar_bg_color{
    top: 0px;
}

.rightTopIcon{
    padding: 0;background-color: #148ac5;width: 
    71px;height: 70px;line-height: 90px;text-align: center;
}
.websitepreviw{
    background-color: #fff;
    margin-bottom: 10px;
}
.web_des_box{
    overflow-y: scroll;
    padding: 15px;
    font-size: 12px;
    height: 132px;  
    position: relative;
    
}
.web_priview_url{
    color: #363f44;
}

.post_web_priview{
width: 100%;
margin-top: 10px;
background-color: #fff;
overflow: hidden;
position: relative;
z-index: 0;
}
.web_image{
    height: auto;
    min-height: initial;
    width: 100%;
}
.web_title{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 5px;
    max-height: 110px;
    overflow: hidden;
    word-wrap: break-word;
    color: black;
}
.web_des{
        line-height: 16px;
    max-height: 80px;
    overflow: hidden;
        color: #9a9fbf;
}
.web_url{
    font-size: 11px;
    line-height: 11px;
    text-transform: uppercase;
}
/*===web+priview*/
.extract_url {
    font-size: 11px;
    width: 500px;
    min-height:100px;
}
.get_url_input {
    width: 100%;
    border: 1px solid #8E9CA4;
    height: 25px;
    padding-left: 10px;
    padding-right: 30px;
    min-height: 50px;
}
.extracted_thumb {
    float: left;
    margin-right: 10px;
}

#loading_indicator{
    position: absolute;
    margin-left: 480px;
    margin-top: 8px;
    display:none;
}
#results{
    display:none;
}

.thumb_sel {
    float: left;
    height: 22px;
    width: 55px;
}
.thumb_sel .prev_thumb {
    background: url(images/thumb_selection.gif) no-repeat -50px 0px;
    float: left;
    width: 26px;
    height: 22px;
    cursor: hand;
    cursor: pointer;
}
.thumb_sel .prev_thumb:hover {
    background: url(images/thumb_selection.gif) no-repeat 0px 0px;
}
.thumb_sel .next_thumb {
    background: url(images/thumb_selection.gif) no-repeat -76px 0px;
    float: left;
    width: 24px;
    height: 22px;
    cursor: hand; 
    cursor: pointer;
}
.thumb_sel .next_thumb:hover {
    background: url(images/thumb_selection.gif) no-repeat -26px 0px;
}
.small_text{
    font-size: 10px;
}
/*===web+priview*/
.hide_me{
    display: none;
}
.show_me{
    display: block;
}
.video_ifreme{
    display: none;
}
.post_status_model_footer{
        display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    padding-bottom: 0px;
    padding-top: 5px;
    border-top: 1px solid #eceeef;
}
.video_ifreme iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.video_ifreme {
    background: url('../img/Loading_icon.gif') center center no-repeat rgba(0,0,0,0);
    position: relative;
}
.am-button,.pm-button,.clockpicker-button{
    color: black;
}
.video_ifreme{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.news-feed-form .author-thumb img{
       max-width: 36px;
}
.author-page.author.vcard.inline-items.more img{
       max-width: 36px;
}
.themss{
     padding-left: 25px;
    text-align: right;
    width: 16px;
    float: right;
    margin-right: 20px;
}
.extracted_thumb{
    position: relative;
}
.close_priv{
    position: absolute;
    color: #000;
    font-size: 30px;
    top: 0px;
    left: -18px;
    width: 20px;
    background-color: gray;
    fill: #fff;
}
.add-options-message-post{
        position: absolute;
        right: 1%;
        bottom: 0px;
    }
    .add-options-message-post a{
        fill:#c2c5d9;
    }
    .add_giphy3_post img{
        width: 100%;
    }
    .btnclose_giphy {
        position: absolute;
        top: 0;
        left: 28px;
    }
    .post_giphyng{
            position: relative;
        
    }
    .close_giphy{
            position: absolute;
        color: #ffffff;
        font-size: 30px;
        top: -1px;
        fill: #ffffff;
        right: -2px;
        background-color: gray;
        width: 20px;
    }
.success_class{
color: green;
}
.li_for_comment{
    padding: 0px;
}
.comments-list .more{
margin-right:0px;
}
.theme_images{
    float: left;
    width: 50%;
}
.theme_images.js-zoom-gallery img{
    width: 100%
}
.theme_images.js-zoom-gallery{
padding:5px;}
.selectize-dropdown{
    position: relative;
    top: 0 !important;
}
.post_model .modal-header{
    padding: 5px;
}
.post_model .modal-body{
padding-bottom: 2px;
}
.post_model .note-editor .btn{
    margin-bottom: 0px;
}
.post_description{
   /* max-height: 190px;
    overflow: hidden;*/
}
.control-icon .notification-list .author-thumb{
        height: 36px;
    width: 36px;
}
.notification_description a {
    padding:0px;
    font-size: 12px;
    color: #515365;
    display: inline-block;
    font-weight: 700;
}
.width0{
    width: 0px;
}
.width300{
    width: auto;
}
.notification-list .notify_link{
    width: 100%;
}
.top_logo{
    fill: #fff;
   display: block;
height: 63px;
width: 83px;
padding: 13px;
}
.addmore,.removefield{
    font-size: 15px;
    color: #464a4c;
    text-align:  right;
    float: right;
}
.tadsugssestimg{
    width: 40px;
    height: 40px;
}
.extracted_content
{ position: relative;
}
/*.with {
   display: block;
position: absolute;
left: 0px;
top: 0px;
width: 53px;
text-align: center;
line-height: 44px;
border-right: 1px solid #e6ecf5;
font-size: 15px;
background-color: #fff;
z-index: 9;
height: 42px;
color: black;
    background-color: #A4AAAB;
}*/
.selectize-control.form-control.js-user-search.post_tags1.multi{
    border-radius: 0px;
}
.tag_input_div .selectize-dropdown{
position: absolute;
top: 35px !important;
}
.boxes .radio label .circle{
    border: 1px solid #9a9fbf;
}
.boxes .radio label {
    color: #464a4c;
}
.background_color_of_publication_box{
    background-color:#ebecec;
}
.datepicker2 .calendar th {
    border: 2px solid transparent;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 30px;
    border-radius: 100%;
}
/*.top-header-thumb img{
    height: 400px;
}*/
.calendar tbody{
    text-align: center;
}
.calendar thead{
   text-align: center; 
}

.calendar td.day {
    cursor: pointer;
}
.rightmobile{
    position: absolute;
}
td.new.day {
    color: #fff;
    background-color: #fff;
}
td.old.day {
    color: #fff;
    background-color: #fff;
}

td.new.day.event-complited:after{
    background-color:#ffffff !important;
}
td.old.day.event-complited:after{
    background-color:#ffffff !important;
}
td.old.day.event-complited-2:after, td.old.day.event-complited-2:before{
     background-color:#ffffff !important;
}
td.new.day.event-complited-2:after, td.new.day.event-complited-2:before{
     background-color:#ffffff !important;
}
.calendar-btn-prev, .calendar-btn-next{
    color: #212125;
}
.datepicker2 .active {
    background-color: #00b1ec;
    color: black;
    border-radius: 0px !important;
}
.form_show_2,.box2{
    display: none;
}
.box.title{
        font-size: 17px;
    line-height: 32px;
}
.box2.title{
        font-size: 17px;
    line-height: 32px;
}
.error_mes{
color: red;
padding: 6px;
}
.tag_input_div .bootstrap-select.style-2 > .dropdown-toggle{
  padding: 19px 24px 10px 6px;
    padding-top: 16px;
    padding-bottom: 13px;
}
.header-content-wrapper .search-bar .selectize-input.has-items > *{
    padding: 20px 10px;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    display: inline-block;
    margin-right: 3px;
}
.post_gif img{
    width: 100%;

}
.comments_gifs{
    width: 100%;
    border-radius: 5%;
}
.edit-profilepic{
    width: 70%;
}
.popup_gypy{
    position: absolute;
       height: 2px;
    z-index: 9;
    right: 36px;
    top: -265%;
    width: 42%;
    display: block;
	/* border: #000 solid 1px; */
    /* overflow-y: scroll; */
    background: rgb(237, 242, 246);
}
.popup_gypy:after,
.popup_gypy:after {
	z-index: -1;
    position: absolute;
    left: 91%;
    margin-left: -25%;
    content: '';
    border-top: solid 15px #c2c5d9;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
}



.top_arrow:after, .top_arrow:before {
	bottom: 99%;
	left: 93%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.top_arrow:after {
	  border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #000000;
    border-width: 16px;
    margin-left: -19px;
}
.top_arrow:before {
	 border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ffffff;
    border-width: 15px;
    margin-left: -18px;
}


.extracted_content a{
       /*  position: absolute; */
    color: #000 !important;
    font-size: 15px;
    top: 0px;
    left: -31px;
    width: 23px;
    height: 28px;
    fill: black;
}
.extracted_content p{
       /*  position: absolute; */
    font-size: 11px;
    /* color: #000 !important;
    top: 0px;
    left: -31px;
    width: 23px;
    height: 28px;
    fill: black; */
}
.fs_name{
    line-height: 25px;
}
.play_gif_icon{
    position: absolute;
   top: 44%;
    left: 44%;
}
.arrow-right{
    fill: #fff;
}
.comment_gifs{
    position: relative;
}
.gif_img3{
    width: 42px !important;
    bottom: 0;
    height: 42px;
    position: absolute;
}
.gif_link {
    bottom: 0;
    right: 0;
    position: absolute;
}
.gif_link1{
        position: absolute;
    right: 14px;
    bottom: 5px;
}
.gif_img4{
    width: 42px !important;    
    height: 42px;
    
}
.close_alert{ position: absolute;
    right: 29px;
    font-size: 22px;
    /* top: 9px; */
    color: inherit;
    line-height: 19px;
}
.bubble 
{

background: #FFFFFF;
border: #000 solid 1px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after 
{
content: "";
position: absolute;
bottom: -25px;
left: 175px;
border-style: solid;
border-width: 25px 25px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
}

.bubble:before 
{
content: "";
position: absolute;
top: 250px;
left: 174px;
border-style: solid;
border-width: 26px 26px 0;
border-color: #000 transparent;
display: block;
width: 0;
z-index: 0;
}
.gif_img1{
    width: 40px !important;
    height: auto;
    bottom:0px;
    position:absolute;
   
}

.gif_img7{
    width: 40px !important;
    height: auto;
    bottom: 0px;
    left: 14px;
    position: absolute;
}

.gif_img2{
    width: 40px !important;
    height: auto;
    bottom:113px;
    position:absolute;
   
}
.published{
    float: left;
}
.morecontemttype{
    float: left !important;
    padding-left: 1%;
    cursor: pointer;
    position: relative;
    transition: all .3s ease;
    color: #888da8;
    fill: #c0c4d8;
        font-size: 16px;
}
.morecontemttype .value{
    display: none;
}
/*li.emoji_btn_li {
    display: inline-block;
}*/
.active_emoji{
    display: none;
}
img.emoji_img {
    height: 26px;
}
svg.emoji_btns_svg {
    height: 20px;
	width:20px;
	margin:6px;
	fill: #9a9fbf;
}

button.btn.btn-primary.note-btn.note-btn-primary.note-image-btn.disabled{
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #05405c;
    opacity: 1 !important;
}

.comment_box .add-options-message .options-message + .options-message {
    margin-left: 0px;
}
.comment_vox .add-options-message .options-message + .options-message {
    margin-left: 0px;
}
.comment_text_area{
    border: 1px solid #e6ecf5;
    border-radius: 0.25rem;
    position: relative;
    min-height: 60px;
    padding: 10px;
    padding-right: 98px;
    font-size: 17px;
}
h3.emoji_heading{
    text-align: left;
    padding-left: 7%;
    font-size: 14px;
    margin-bottom: 0px;
    padding-top: 5px;
}
.comment_text_area_img{
    height: 21px;
}
.post_description{
    overflow: hidden;
}
.post_description img {
    max-width: 100%;
}
.emoji_icon{
    height: 32px;
    width: 32px;
    margin: 4px;
    position: relative;    
    cursor: pointer;
}
.emoji_div:not(._4f4o):hover {
    background: rgba(29, 33, 41, .04);
}
.emoji_div{
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 44px;
    line-height: 0;
    margin: 2px;
    text-align: center;
    -webkit-user-select: none;
    vertical-align: middle;
    width: 44px;
}
.emoji_pop_up{
    position: absolute;
    height: 300px;
    z-index: 9;
    right: 49px;
    top: 87px;
    width: 315px;
    text-align: center;
    /*overflow: scroll;*/
    /* overflow-y: scroll; */
    background: rgb(237, 242, 246);
}

.w-blog-posts img {
    width: 100% !important;
}
/*================For visibility slect box============*/

.desc { color:#6b6b6b;}
        .desc a {color:#0092dd;}
        
        /*.dropdown dd, .dropdown dt, .dropdown ul {     border-bottom: 1px solid #148ac5;}*/
		.dropdown dd, .dropdown dt, .dropdown ul {}
         .dropdown dt{ min-width: 100px; }      
         .modal-footer dl { min-width: 100px;  }         
        .dropdown dd { position:relative; }
        .dropdown a, .dropdown a:visited { color:gray; text-decoration:none; outline:none;}
       /* .dropdown a:hover { color:#5d4617;}
        .dropdown dt a:hover { color:#5d4617; border: 1px solid #d0c9af;}*/
        .dropdown dt a {   background: #fff url(https://brandimage.thefarmacy.co/arrow.png) no-repeat scroll right center;
                            display: inline-block;
                            line-height: 36px;
                            width: 100%;}
        .dropdown dt a span {cursor:pointer; display:inline-block; padding:5px;}
        .dropdown dd ul { background:#fff none repeat scroll 0 0; border:1px solid #d4ca9a; color:#C5C0B0; display:none;
                          left:0px; padding:5px 0px; position:absolute; top:2px; width:auto; min-width:170px; list-style:none;}
        .dropdown span.value { display:none;}
        .dropdown dd ul li a { padding:5px; display:block;}
        .dropdown dd ul li a:hover { background-color:1px solid #148ac5;}
        
        .dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
        .flagvisibility { display:none;}
	.post_image_gallery img{width:100%;}
	#share_form_body .form-control{
		background-color: #fff;
		border: none;
	}
    /*    ================For visibility slect box============*/
@media (min-width: 767px) {
    .header-content-wrapper{
        display: block;
    }
 
}
@media (max-width: 768px) {
   .header-content-wrapper{
        display: flex;
 }
 
}

@media(max-width: 770px){
.createEventButton{
	
	display:none;
}
}

/* new css */

.video_url1::placeholder{
	font-size:12px ! important;
	}
	
.location1::placeholder{
	font-size:12px ! important;
	}
	
.play_video{
    display: block;
    float: left;
    left: 0px;
    top: 0px;
    text-align: center;
    line-height: 43px;
    /* border-right: 1px solid #e6ecf5; */
    font-size: 15px;
    background-color: #fff;
    z-index: 9;
    height: 41px;
    color: black;
    /* padding-left: 0px; */
    color: black;
    background-color: #A4AAAB;
	display: inline-block;
    padding: 0px !important;
}
.twitch_chat_toggle{
margin-top: 2px;
}


.at_location{
	display: block;
    float:left;
    left: 0px;
    top: 0px;
    text-align: center;
    line-height: 43px;
    /* border-right: 1px solid #e6ecf5; */
    font-size: 15px;
    background-color: #fff;
    z-index: 9;
    height: 41px;
    color: black;
	/* padding-left: 0px; */
    color: black;
    background-color: #A4AAAB;
}

.video_url2{
	float:left;
	
	padding: 0 0 0 23px ;
	margin: 0px	!important;
	border-radius: 0px !important;
	display: inline-block;
    padding: 0px !important;
    
}
.extracted_content a {
    color: black;
}
.with_people{
	height:41px;
}

 

.tag_people_new{
	display: block;
    float: left;
    left: 0px;
    top: 0px;
    text-align: center;
    line-height: 43px;
    /* border-right: 1px solid #e6ecf5; */
    font-size: 15px;
    background-color: #fff;
    z-index: 9;
    height: 41px;
    color: black;
    /* padding-left: 0px; */
    color: black;
    background-color: #A4AAAB;
	}

.label{
	min-width: 92px;
    display: block;
    word-wrap: normal;
	padding-top:4px;
}

.events_loc::placeholder{
    color: #fff;
}
.edit_timepicer{
    z-index: 999999999999 !important;
}

.location2{
	float:left;
	height: 41px;
	padding: 0 0 0 23px !important;
	margin: 0px !important;
	border-radius: 0px !important;
	display: inline-block;
    padding: 0px !important;
}
.today{
		background-color:#dddddd;
		border-radius:0px!important;
}
.icon1_tag{
	float:left;
}
.tag1{
	float: left;
    font-size: 13px;
    padding-left: 3px;
    padding-top: 1px;
}
.icon-close svg {
    width: 14px !important;
    height: none !important;
}

.note-btn{
	padding:11.2px !important;
	}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #464a4c;
    background-color: #EBECEC !important;
    border-color: #ddd #ddd #EBECEC !important;
}


.tooltip_dropdown {
    position: relative;
    display: inline-block;
}

.tooltip_dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 128px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.tooltip_dropdown-content li a{
    color: #888da8 !important;
    padding: 5px 0px 5px 16px;
    display: block;
}

.tooltip_dropdown:hover .tooltip_dropdown-content {
    display: block;
}
.author-page .more-dropdown {
    width: 230px;
    top: 69px !important;
    right: -75px !important;
    padding: 0;
}
.control-icon .more-dropdown {
    width: 380px;
    top: 61px !important;
    right: -68px;
    padding: 0 0 70px 0;
}

.fa {
    padding: 3px 1px 1px 2px !important;
}

.more-with-triangle:before {
    right: 80px !important;
}

.left_sidebar_new{
	z-index:22 !important;
}

.selectize-input{
	overflow-x:auto;
	display:flex;
}
 .off{
    color: #ffffff !important;
  }
  td.off.available:hover {
    background-color: transparent;
}
.alert_error_mes3{
  background-color: #5cb85c;
    color: #fff;
}

@media (max-width:640px) and (min-width:320px)  {
	.ratings1 li {
		float:none !important;	
	}
	.add_photo_video{
		padding-bottom:0px !important;	
	}
	div.scroll_new1 {
		float: left;
		width: 100%;
		overflow:auto !important;
		white-space: nowrap;
		margin-bottom: 7px;
    }
}

@media (max-width:1080px) and (min-width:308px)  {
	.icon-close svg {
		margin-right: 9px;
    }
	.close_icon_new1{
		right:-10px !important;
    }
	.btn-control {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 45px;
    padding: 0;
    fill: #fff;
    font-size: 20px;
}
	
}

@media (max-width:460px){
	.names-people-likes{
		display:none;
	}
}
@media (max-width:1023px) and (min-width:300px)  {
	.web_des_box{
		overflow:auto;
		}
	
}

.photoImg img{
	height : 200px !important;
}

.error_mes_profile_upload{
	
	text-align : center;
	color :red;
}

.online_icon{
	top: 18px !important;
	}


#msg_badge{
	width: 19px;
    height: 19px;
    line-height: 19px;
    top: 6px;
    right: -9px;
}
/*
 ::-webkit-scrollbar {
    width: 6px;
	height:7px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #05405C; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-track-piece  {
background-color: #05405C;
}

::-webkit-scrollbar-thumb:vertical {
background-color: #05405C;
}*/

/*
 *  STYLE 1
 */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #05405C;
}



/* nn */
.blue_side_bar::-webkit-scrollbar {
    width: 6px;
    height:7px;
}

.blue_side_bar::-moz-scrollbar {
    width: 6px;
    height:7px;
}

/* Track */
.blue_side_bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.blue_side_bar::-moz-scrollbar-track {
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -moz-border-radius: 10px;
    border-radius: 10px;
}

 
/* Handle */
.blue_side_bar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(20, 138, 197); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.blue_side_bar::-moz-scrollbar-thumb {
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgb(20, 138, 197); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* nn */
.ui-timepicker-viewport::-webkit-scrollbar {
    width: 6px;
    height:7px;
}

.ui-timepicker-viewport::-moz-scrollbar {
    width: 6px;
    height:7px;
}

/* Track */
.ui-timepicker-viewport::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ui-timepicker-viewport::-moz-scrollbar-track {
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -moz-border-radius: 10px;
    border-radius: 10px;
}

 
/* Handle */
.ui-timepicker-viewport::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(20, 138, 197); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.ui-timepicker-viewport::-moz-scrollbar-thumb {
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgb(20, 138, 197); 
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* profile photo:profile_images_popup */
.profile_popup_new{
	top:50% !important;
}

.popup_photo_item img {
    max-width:100%;
    width: auto !important;
}
.tagUserImage img{
	height:50px;
	width:50px;
	margin-top:-7px;
	border-radius:50%;
}

.popup_new1{
	margin: 0 auto;
    display: block;
	padding-top:22px;
	padding-bottom:5px;
}

.cover_photo_item_new img{
	height:150px;
}

.ui-autocomplete{
	width: 33.5% !important;
    
    top: 10.4% !important;
    left: 17.1% !important;
	position:fixed !important;
	border-radius:10px;
}

.ui-autocomplete li{
	padding:5px 5px 5px 15px;
	text-transform:capitalize;
	color:#39a9ff;
	font-weight: bold;
	
}

.ui-autocomplete li:hover{
	background-color:#edf2f6 ;
	border-radius:10px;
	
}

.ui-widget.ui-widget-content{
	border:none !important;
}

.top-header-author{
	z-index:0 !important;
	}
	
#change_html .author-thumb img {
    width: 36px;
}

.three_dots_new{
	padding-top:22px;
}
.friend_request_new{
	padding:5px 15px 18px;
}

.friend_request_new li{
	padding: 8px !important;
}

.smiley_icon{
	top:2px !important;
}

.user_new{
	color: grey; 
	font-size:12px;
	padding-top:6px !important;
}

.more:hover .add_follow_friend {
    visibility: visible;
    opacity: 1;
}

.add_follow_friend{
	  display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 180px;
    box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
    background-color: #fff;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    text-align: left;
    padding: 15px 20px;
    z-index: 5;

}

.reply_box_new{
	margin-top:20px;
	}
	
.gif_box{
	overflow-y:scroll;
	background-color:#EDF2F6;
	height:2px;
	}

.add_giphy3 img{
	width:100%;
}
.play-gif{
    display: none;
}
.emoji_new_box{
	height: 300px;
    z-index: 9;
    right: 49px;
    top: 87px;
    width: 100%;
    text-align: center;  
    overflow-y: scroll;
    background-color: rgb(237, 242, 246);
	}

.btns_emoji{
	background-color:white !important;
	padding:0;
	border-top: solid 1px #9a9fbf;
	}
	
.emoji_btn_li {
	display:inline-block !important;
	padding:0px !important;
	}
	
.caption_error{
	position: absolute;
    top: 40%;
    left: 0;right:0;
    width: 100%; 
	text-align:center;
}

.error_btn{
	margin:0 auto;
	display:table;
}

.right_side_bar_bg_color {
    background-color: none !important;
}

.fixed-sidebar-right{
	background-color: none !important;
}

.profile-menu li{
	width: 33%;
    text-align: center;
}

.friend-header-thumb {
    border-bottom: 0px !important;	
}

.author_friends_content{
	max-height: 20px;
}

.heart_icon_new{
	padding-left:38px;
}
.con-svg path{
    fill: #fff;
    stroke: #fff;
}
.con-svg circle{
    fill: #fff;
    stroke: #fff;
}
.pop_up_smiley{
	position: inherit; */
    /* height: 300px; */
    z-index: 9;
    float: right;
    /* right: 49px; */
    /* top: 0; */
    line-height: -59px;
    width: 33%;
    margin-top: -38px;
    text-align: center;
    /* overflow: scroll; */
    overflow-y: scroll;
    background: rgb(237, 242, 246);
}
#like_icon path{
    fill: #fff;
}

.user_form_control{
	padding:0px 15px !important;
	}
	
.user_label{
		top:8px !important;
		}
.note-toolbar{
    background-color: #fff;
}

.btn-group.bootstrap-select.form-control.post_description{
	overflow:visible;
	}
.post_emoji_icn{
    margin: -26px 0px 0px 0px;
    position: absolute;
    right: 5px;
    bottom: 7px;
    z-index: 999999;
}

.image_a{
	top: 0px;
    left: 0px;
    width: 245px;
    height: 245px;
	display: block;
    position: absolute;
}

.post_image_div_class_0{
	width: 100%;
    height: 245px;
	
}

.post_image_div_class_1{
	width: 100%;
    height: 245px;
	
}

.post_image_div_class_2{
	width: 100%;
    height: 163px;
	
}

.post_image_div_class_3{
	width: 100%;
    height: 163px;
	
}

.post_image_div_class_4{
	width: 100%;
    height: 163px;
}

.post-block-photo a, .post-block-photo span {
    float: left;
    /* overflow: hidden; */
    padding: 1px !important;
}

.gif_img{
	width: 40px;
    height: auto;
    position: absolute;
    padding-top: 8px;
}

.search_img{
	padding-left:39px !important;
	}
.div_size{
	    width: 100% !important;
	}
	

